footer {
    width: 100%;
    display: table-row;
    height: rem(30);
    text-align: left;
    background-image: linear-gradient(to bottom,rgb(236, 236, 236) 0,#cecece 100%);
    box-shadow: 0 0 10px rgb(146, 146, 146);

    .footer__inner {
        display: table-cell;
        vertical-align: middle;
    }

    p {
        font-size: rem(14);
        font-family: $jose;
        font-weight: 600;
        color: #333;

        a {
            color: rgb(31, 31, 173);
            text-decoration: underline;
        }
    }

}//footer