.loader {
    position: fixed;
    display: table;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
}

.loader__middle {
    display: table-cell;
    vertical-align: middle;
}

.loader__inner {
    display: block;
    width: 80px;
    margin: 0 auto;
}

.loader__inner img {
    width: 100%;
}