<%- include('./parts/head'); -%>

<div class="inner admin-login">
    <form action="/admin" method="POST">

        <h1>Logg in:</h1>
        <input type="password" name="password" value="" placeholder="password">

    </form>
</div>

<%- include('./parts/foot'); -%>