<%- include('./parts/head'); -%>

        <div class="inner createsprites">

            <h1>Create Your Sprites Image for Responsive Sprites Framework</h1>

            <h2 class="step">STEP 1: &emsp;upload images</h2>

            <div id="upload">
                <div class="upload__inner">
                    <h3>Drag and Drop Your Images HERE or Click to Upload Manually</h3>
                    <input type="file" multiple="" id="uploadfiles" name="files[]" accept="image/jpeg, image/png">
                </div>
            </div>

            <div id="progress-wrp">
                <div class="progress-bar"></div>
                <div class="status">0%</div>
            </div>

            <h2 class="step">STEP 2: &emsp;edit images</h2>

            <div id="uploaded">
                <h3>*** Note that images names will be part of class names of your sprites.<br> Try to keep them as simple as possible and avoid duplicating names.</h3>

            </div>

            <h2 class="step">STEP 3: &emsp;configure sprites</h2>

            <form id="opts">

                <p>Choose Your Sprites image type: &emsp;<span>IMPORTANT!</span></p>
                <br>
                <input type="radio" name="imgtype" value="jpeg" id="inimgjpg">
                <label for="inimgjpg">.JPG</label>
                <br><br>
                <input type="radio" name="imgtype" value="png" id="inimgpng">
                <label for="inimgpng">.PNG</label>
                <br><br><br>

                <p>Choose padding between images:</p>
                <br>
                <input type="number" name="padding" value="0" min="0" max="100"><br>

                <p>Choose background color for sprites image (effective only if JPG - ignored if PNG):</p>
                <br>
                <input type="color" name="bgcolor" value="#ffffff">

            </form>

            <h2 class="step">STEP 4: &emsp;framework data</h2>

            <div class="framedata">

                <p>Choose your sprites image name:</p>
                <br>
                <input type="text" name="imgname" value="sprites">&emsp;<span>.png / .jpg</span><br>

                <p>Choose your folder path (relative to your project file/index):</p>
                <br>
                <input type="text" name="folder" value="./img/"><br>

                <p>Choose your sprites class initiation name:&emsp;<span>&lt;i class="<span style="color:red">sprites</span>-imgname"&gt;&lt;&#47;i&gt;<br></span></p><br>
                <span class="sub">&emsp;*** If you are going to have more than one RSF on the same page you should consider naming!</span><br>
                <input type="text" name="cname" value="sprites">

            </div>

            <h2 class="step">LAST STEP: &emsp;create sprites</h2>

            <div class="submitcreate">
                <button id="uploadbtn" type="button">CREATE SPRITES!</button>
            </div>

        </div>

<%- include('./parts/foot'); -%>
