<%- include('./parts/head'); -%>

<div class="inner errlogin">

    <h1>You need to login first in order to use our service!</h1>
    <div class="central">
        <p><strong>We cannot provide you memory space on our server without signup.</strong></p>
        <p>We dont use your personal data to spam you with commercials!</p>
        <p>This is absolutely free tool with no limitations!</p>
    </div>

</div>

<%- include('./parts/foot'); -%>