<%- include('./parts/head'); -%>

<div class="inner examples">

    <iframe width="560" height="315" src="https://www.youtube.com/embed/XtPsYQGDzuQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>

<%- include('./parts/foot'); -%>