<%- include('./parts/head'); -%>

<div class="inner examples">

    <h1>Page not ready yet (in production)</h1>
    <p>Please follow the instructions on Home page.</p>

</div>

<%- include('./parts/foot'); -%>