<%- include('./parts/head'); -%>

<div class="inner home">

    <h1>Welcome to Responsive Sprites Framework (RSF)<br> Creation Engine!</h1>

    <h2 class="notsigned">To continue please <a href="supform">signup</a> and/or <a href="sinform">login</a> if you already have an account.</h2>
    <div class="info">
        <p class="notsigned">To use RSF Creation Engine you must signup first - because we cannot provide you memory space on our server without signup.</p>
        <p>We dont use your personal data to spam you with commercials!</p>
        <p>This is absolutely free tool with no limitations!</p>
    </div>

    <h3>What is RSF?</h3>
    <div class="about">
        <p>RSF is tiny framework that controls your sprites images thru unique way.</p>
        <p>It is different from "classic" sprites images by its high precision and responsiveness ability.</p>
        <p>Its very easy to use - the usage reminds of popular "font-awesome": </p>
        <br>
        <code>&lt;i class="classname-imgname"&gt;&lt;&#47;i&gt;</code>
        <br><br>
        <p class="gonow">To create your sprites click <a href="/createsprites">HERE</a> or "Create Now" button in navbar.</p>
    </div>

    <h3>Why are RSF images responsive?</h3>
    <div class="about">
        <p>Because You can define their css <strong style="font-size: 1.1rem">widt</strong> property.</p>
        <br>
        <p style="font-size: 1.3rem"><strong>RSF images behave just like regular &lt;img&gt; elements.</strong></p><br>
        <p>If width is not defined, each image will be displayed in its original size.</p>
        <p>If width is defined, it shall be sized as normal &lt;img&gt; would be sized.</p>
        <br>
        <code>&lt;i class="classname-imgname" style="width: 100%"&gt;&lt;&#47;i&gt;</code>
        <br><br>
        <p>Or thru css class...</p>
        <br>
        <code>
            .classname-imgname {
                width: 150px;
                /*width: 30%*/
                /*width: 3rem;*/
                .
                .
                .
            }
        </code>
        <br><br>
        <p>The only difference from regular img tag is that RSF image has "inline-block" behaviour.</p>
        <p>Tip:</p>
        <p>If you want to avoid "invisible margin" on inline-block elements you can just set parents container to font-size: 0</p>
    </div>

</div>

<script>
    (function ($) {
        if (userNameCookie) {
            $(".notsigned").remove();
        }
    })(jQuery);
</script>

<%- include('./parts/foot'); -%>