<%- include('./parts/head'); -%>

<div class="inner home">

    <h1>Welcome to Responsive Sprites Framework (RSF)<br> Creation Engine!</h1>

    <h2>To continue please <a href="supform">signup</a> or <a href="sinform">login</a> if you already have an account.</h2>
    <div class="info">
        <p>To use RSF you must signup first because we cannot provide you memory space on our server without signup.</p>
        <p>We dont use your personal data to spam you with commercials!</p>
        <p>This is absolutely free tool with no limitations!</p>
    </div>

    <h3>What is RSF?</h3>
    <div class="about">
        <p>RSF is tiny framework that controls your sprites images thru unique way.</p>
        <p>It is different from "classic" sprites images by its high precision and responsiveness ability.</p>
        <p>Its very easy to use - the usage reminds of popular "font-awesome": </p>
        <br>
        <code>&lt;i class="classname-imgname"&gt;&lt;&#47;i&gt;</code>
        <br><br>
        <p class="gonow">To create your sprites click <a href="/createsprites">HERE</a> or "Create Now" button in navbar.</p>
    </div>

</div>

<%- include('./parts/foot'); -%>