<%- include('./parts/head'); -%>

    <div class="inner">

        <div class="spimgcont">
            <img src="" alt="" id="spriteimg">
        </div>

        <textarea class="jsonobj"></textarea>

    </div>

    <script>
        var jsonsrc = "<%= jsonsrc %>";
    </script>
    <script src="./javascripts/spritescreated.js" type="text/javascript"></script>

<%- include('./parts/foot'); -%>