<%- include('./parts/head'); -%>

    <div class="inner">

        <div class="spimgcont">
            <img src="<%= spritesrc %>" alt="" id="spriteimg">
        </div>

        <textarea class="jsonobj"></textarea>

    </div>

<%- include('./parts/foot'); -%>