<%- include('./parts/head'); -%>

    <div class="inner spcreated">

        <h1>RSF Created!</h1>

        <h2>Right click on image to download it to your project folder (" <span id="foldername"></span> ")</h2>
        <div class="spimgcont">
            <img src="" alt="" id="spriteimg">
        </div>

        <h2>Copy framework script and paste it anywhere in your document</h2>
        <br><a id="copy-script" href="#">COPY SCRIPT BELLOW</a><br>
        <textarea class="jsonobj"></textarea><br>

        <h2>Usage Helper</h2>
        <table>
            <tbody>

            </tbody>
        </table>

    </div>

    <script>
        var jsonsrc = "<%= jsonsrc %>";
    </script>
    <script src="./javascripts/spritescreated.js" type="text/javascript"></script>

<%- include('./parts/foot'); -%>