
            </div><!--main__inner-->
        </main>

        <footer>
            <div class="footer__inner">
                <div class="inner">
                    <p>Responsive Sprites Images Framework - &copy; 2019 - Author <a href="https://www.linkedin.com/in/milanbabic1978/" target="_blank">Milan Babic</a></p>
                </div>
            </div>
        </footer>

    </div><!--container-->

</body>

</html>