<nav>
    <div class="nav__cell">
        <div class="inner">

            <div class="nav__left">
                <a href="/"><img src="./images/logo.png" alt=""></a>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="./createsprites">Create Now</a></li>
                    <li><a href="./examples">Examples</a></li>
                </ul>
            </div>

            <div class="nav__right">
                <a class="lin" href="./signup">Sign up</a>
                <a class="lin" href="./login">Login</a>
            </div>

        </div>
    </div>
</nav>