<nav>
    <div class="nav__cell">
        <div class="inner">

            <div class="nav__left">
                <a href="/"><img src="./images/logo.png" alt=""></a>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="./createsprites">Create Now</a></li>
                    <li><a href="./examples">Examples</a></li>
                </ul>
            </div>

            <div class="nav__right"></div>

            <script>
                (function ($) {
                    var rightNav = $(".nav__right");
                    navContent.forEach(function (el) {
                        rightNav.append(el);
                    });
                })(jQuery);
            </script>

        </div>
    </div>

    <div class="signup">
        <div class="signup__middle">
            <form class="signup__inner" method="post" name="signup" action="#">
                <h2>Sign Up</h2>
                <p>Your email address:</p>
                <input type="email" name="email" placeholder="Email" required>
                <p>Choose your password</p>
                <input type="password" name="pass" placeholder="Password" required>
                <p>Repeat your password</p>
                <input type="password" name="repass" placeholder="Repeat password" required>
                <button type="submit">SUBMIT</button>
            </form>
        </div>
    </div>

    <div class="signin">
        <div class="signin__middle">
            <form class="signin__inner" method="post" name="login" action="#">
                <h2>Sign In</h2>
                <p>Your email address:</p>
                <input type="email" name="email" placeholder="Email" required>
                <p>Your password</p>
                <input type="password" name="pass" placeholder="Password" required>
                <button type="submit">SUBMIT</button>
            </form>
        </div>
    </div>

</nav>