<nav>
    <div class="nav__cell">
        <div class="inner">

            <div class="nav__left">
                <a href="/"><img src="./images/logo.png" alt=""></a>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="./createsprites">Create Now</a></li>
                    <li><a href="./examples">Examples</a></li>
                </ul>
            </div>

            <div class="nav__right"></div>

            <script>
                (function ($) {
                    var rightNav = $(".nav__right");
                    navContent.forEach(function (el) {
                        rightNav.append(el);
                    });
                })(jQuery);
            </script>

        </div>
    </div>
</nav>