@import 'variables/basic-vars';
@import 'variables/colors';

.admin-page {
    width: 100%;
    color: $dark;

    h1 {
        font-size: rem(36);
        text-align: center;
        padding-top: rem(45);
    }

    h2 {
        font-size: rem(24);
        padding-bottom: rem(15);
        margin-top: rem(45);
    }

    .logs-table-cont {
        width: 100%;
        height: rem(500);
        overflow-y: auto;
    }

    .loggstable {
        width: 100%;

        th, td {
            border: 1px solid #ccc;
            padding: rem(3) rem(5);
        }

        tr.High td {
            background-color: rgba(255, 0, 0, 0.336);
        }

        tr.Meddium td {
            background-color: rgba(229, 255, 0, 0.329);
        }
    }

    .unique {
        font-style: italic;
        font-weight: 700;
        padding-top: rem(15);
        font-size: rem(22);
    }

    .users-table-cont {
        width: 100%;
        height: rem(500);
        overflow-y: auto;
        margin-bottom: rem(45);
    }

    .users-table {
        width: 100%;

        th, td {
            border: 1px solid #ccc;
            padding: rem(3) rem(5);
        }

    }

}//admin-page

