@import 'variables/basic-vars';
@import 'variables/colors';

.createsprites {

    h2.step {
        font-weight: 700;
        color: #fff;
        width: 100%;
        max-width: 220px;
        padding: rem(3) 0 rem(3) rem(10);
        background-color: $info;
        margin: rem(25) 0;
        font-size: rem(16);
    }

    h1 {
        font-size: rem(32);
        text-align: center;
        padding: rem(45) 0 rem(15);
    }

    #upload {
        width: 100%;
        max-width: 500px;
        margin: rem(15) auto rem(25);
        border: 2px solid #eee;
        border-radius: rem(4);

        .upload__inner {
            width: 100%;
            height: 0;
            padding-bottom: 50%;
            background-color: transparent;
            transition: background-color 0.3s ease-in-out;
            position: relative;
            z-index: 1;
        }

        .upload__inner:hover {
            background-color: rgba(91, 185, 248, 0.15);
        }

        input {
            position: absolute;
            z-index: 3;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }

        h3 {
            width: 100%;
            position: absolute;
            padding: 0 rem(15);
            text-align: left;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            font-size: rem(22);
            color: $info;
        }

    }

    #uploaded {
        width: 100%;
        text-align: center;
        margin: rem(35) 0;

        h3 {
            font-size: rem(24);
            padding-bottom: rem(25);
        }

        .upcont {
            display: inline-block;
            vertical-align: top;
            margin: rem(10) rem(10) rem(25);
            width: 100%;
            max-width: 120px;
            position: relative;
            z-index: 1;
        }

        .upcont.notaval::after {
            position: absolute;
            content: "X";
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 70%;
            z-index: 2;
            font-size: 150px;
            color: red;
            text-align: center;
            vertical-align: top;
            line-height: 0.9;
        }

        .imgcont {
            width: 100%;
            height: 0;
            padding-bottom: 120%;
            position: relative;
            z-index: 1;
            border: 1px solid $info;

            img {
                width: auto;
                max-width: 100%;
                height: auto;
                max-height: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        p {
            word-break: break-all;
        }

        .imgname {
            font-size: rem(18);
            line-height: 2;
        }

        .imgtype {
            font-size: rem(18);
            font-style: italic;
            line-height: 2;
        }

        .remove {
            position: absolute;
            z-index: 4;
            top: -15px;
            right: -15px;
            width: 30px;
            height: 30px;
            background-image: url(../images/abort.png);
            background-size: cover;
            cursor: pointer;
        }

        .rename {
            width: 100%;
            text-align: center;
            font-size: rem(16);
            color: #fff;
            background-color: $info;
            padding: rem(4);
            border-radius: rem(8);
            cursor: pointer;
            border: 1px solid $info;
            transition: all 0.3s ease-in-out;
        }

        .rename:hover {
            color: $info;
            background-color: #fff;
        }

    }

    #progress-wrp {
        border: 1px solid #0099CC;
        padding: 1px;
        position: relative;
        height: rem(30);
        border-radius: rem(3);
        margin: rem(10);
        text-align: left;
        background: #fff;
        box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);

        .progress-bar {
            height: 100%;
            border-radius: rem(3);
            background: linear-gradient(#0066ff, #b3d1ff);
            width: 0;
            box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
            transition: 0.5s ease-in-out
        }

        .status {
            top: rem(3);
            left: 50%;
            position: absolute;
            display: inline-block;
            color: #000000;
        }
    }

    #opts {
        width: 100%;
        display: block;

        p {
            font-size: rem(18);
            display: inline-block;
            padding: rem(2) rem(10);
            background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.2));
            margin-bottom: rem(35);

            span {
                font-weight: 700;
                color: red;
            }
        }

        label {
            font-size: rem(18);
            font-weight: 700;
            cursor: pointer;
        }

        input[type='radio'] {
            margin-left: rem(25);
        }

        input[type='color'] {
            margin-left: rem(25);
            margin-bottom: rem(35);
            width: 100px;
            height: 80px;
            cursor: pointer;
        }

        input[type='number'] {
            width: 60px;
            margin: 0 0 rem(35) rem(25);
            padding: rem(5) rem(7);
            font-size: rem(18);
            font-style: normal;
        }
    }

    .framedata {
        width: 100%;

        p {
            font-size: rem(18);
            display: inline-block;
            padding: rem(2) rem(10);
            background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.2));
            margin-bottom: rem(35);

            span {
                font-style: italic;
            }
        }

        input[type='text'] {
            width: 150px;
            margin: 0 0 rem(35) rem(25);
            padding: rem(5) rem(7);
            font-size: rem(18);
            font-style: normal;
        }
    }

    .submitcreate {
        width: 100%;
        padding: rem(35) rem(45) rem(75) rem(45);

        #uploadbtn {
            padding: rem(5) rem(15);
            font-size: rem(24);
            font-weight: 700;
            text-align: center;
            color: rgb(255, 255, 255);
            border: 1px solid $btn;
            background-color: $btn;
            box-shadow: 2px 2px rem(10) rgba(0, 0, 0, 0.6);
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }

        #uploadbtn:hover {
            color: $btn;
            background-color: #fff;
            box-shadow: none;
        }
    }

}//createsprites

