@import 'variables/basic-vars';
@import 'variables/colors';

.home {
    padding: rem(15) 0;
    color: $dark;

    h1 {
        font-weight: 700;
        padding-bottom: rem(45);
    }

    h2, h3 {
        font-size: rem(24);
        padding: rem(10) rem(15);
        margin-bottom: rem(10);
        color: $info;
        background-color: #eee;
    }

    h2 {
        font-size: rem(24);
    }

    h3 {
        font-size: rem(20);
    }

    a {
        color: $info;
        text-decoration: underline;
        padding: rem(2) rem(5);
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        background-color: transparent;
    }

    a:hover {
        background-color: $info;
        color: #fff;
        text-decoration: none;
    }

    .info {
        width: 100%;
        max-width: rem(700);
        padding: rem(10) rem(45) rem(10) rem(15);
        border-radius: rem(4);
        background-color: $info;
        border: rem(3) solid #eee;
        line-height: 1.6;
        color: $infotxt;
        font-size: rem(18);
        position: relative;
        font-family: $jose;
        font-weight: 600;
        text-shadow: 0 0 rem(10) rgba(0,0,0,0.5);
        margin-bottom: rem(30);
    }

    .info:after {
        content: "!";
        position: absolute;
        right: rem(20);
        top: 50%;
        transform: translateY(-50%);
        font-size: rem(50);
        font-family: $gugi;
        font-weight: 400;
    }

    .about {
        margin-bottom: rem(20);

        p {
            font-size: rem(16);
            line-height: 1.6;
            padding-left: rem(10);
        }

        p.gonow {
            font-weight: 700;
        }
    }

    code {
        padding-left: rem(20);
    }


}//home
